<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="shortcut icon" href="https://lolstatic-a.akamaihd.net/lolkit/1.1.9/resources/images/favicon.ico" type="image/vnd.microsoft.icon">
    <!-- <script>
        

    </script> -->

    {% block head %}{% endblock %}
    
</head>
<body>

    {% block body %}{% endblock %}

</body>
</html>